<div *ngFor="let turno of items | async">
  <div class="row">
    <div class="nombre-usuario">{{turno.usuario.nombre}}</div>
  </div>
  <div class="container-turnos"> 
    <div class="numero-turno-container">
      <span class="numero-turno">Turno</span>
      <div class="clearfix"></div>
      <span class="turno">{{turno.numeroTurno}}</span>      
    </div>
    <div class="tiempo-turno-container">
      <span class="tiempo-turno">Tiempo aproximado de espera</span>
      <div class="clearfix"></div>
      <span class="hora">{{turno.tiempoEspera}}</span>     
    </div>
  </div>

<!--INFO CUBICULO -->
  <div class="cubiculo-container">
    <div class="row">
      <div class="col-md-12">
        <div class="media">
          <div class="media-body contextual-cubiculo-text">
           Pasa al cubiculo
          </div>
          <div class="media-right media-middle">
            <span class="media-object numero-cubiculo">5</span>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>