/* You can add global styles to this file, and also import other style files */

.nombre-usuario{
    text-align: center;
    font-size: 40px;
}

.numero-turno{
    text-align: center;
    font-size: 30px;
}
